<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout compact="true" eventEol="true" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Set DEBUG for your main package -->
        <Logger name="com.baml.mav.aieutil" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <!-- Root logger for everything else -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>